

body {
	background:#ecf4f3;
    color:rgb(50,50,50);
    font-family: font-family: 'Lora', serif;
    font-size: 14px ;
}

h1,h2 {
	font-family:'Roboto', sans-serif;
}
h1 {
	color:#000000;
	font-size:32px;
	font-weight:900;
}
h2 {
    color:#6bc5d2;
	font-size:(24)
    font-weight: lighter;
    font-weight: 300;
}
a {
	text-decoration:none;
/*    color: red;
    font-weight: bold;*/
}
a:hover {
  color:yellow;
}

img {
	margin-bottom: 10px; 
}

.container {
 width: 700px;
 margin: 40px auto;
box-shadow: 10px 5px 5px black;
}

/*Custom design*/
.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1)
	border-radius:4px;
	margin: 20px 0px;
	text-align: center;
}

.img-circle{
	border-radius: 50%;
}

.btn-blue {

 background-color: white ;
 color: blue;
 padding: 15px 20px;
 border-radius: 4px;
}

.btn-blue:hover{
background-color: blue;
 color: white;
}

